.Arreglo{
    width: 100%;
    gap:10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    overflow: hidden;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item:hover{
    transition-duration: 0.3s;
    transform: scale(1.1);
}
.item>h2{
    font-weight: bold;
}
.item>img{
    width: 200px;
    height: 300px;
}


.item>.Vista{
    display: flex;
    gap: 5px;
}

.item>.Vista>img{
    width: 20px;
    height: 20px;
}

@media screen and (max-width:768px){
    .item>h2{
        font-weight: bold;
        text-align: center;
    }
    .item>img{
        width: 250px;
        height: 250px;
        display: block;
        margin:auto;
    }

    .item>.Vista{
        display: flex;
        gap: 5px;
        justify-content: center;
    }
    
   .item>span{
    text-align: center;
   }
}