.DatosCover{
    width: 100%;
    position: relative;
}

.DatosCover>h1{
    position: absolute;
    top: 35%;
    left: 20%;
    font-size: 45px;
    font-weight: bolder;
    color: white;
    text-align: center;
    z-index: 100;
}

.DatosCover>.coverimage{
    opacity: 0.6;
    width: 100%;
}

@media screen and (max-width:767px){
    .DatosCover>h1{
        position: absolute;
        top: 20%;
        left:13px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
        text-align: center;
        z-index: 100;
    }
}